PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=loR0BURki9i07GBHvK3fn78eLYcxk5tA
DRIVE_DISK=local
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
SES_ACCESS_KEY=<aws-access-key>
SES_ACCESS_SECRET=<aws-secret>
SES_REGION=us-east-1
